body {
  font-family: "Inv Maison Neue","Maison Neue",-apple-system,BlinkMacSystemFont,"Open Sans",open-sans,sans-serif;
font-size: 12px;
/*  */
}


.tab {
  display: flex;;
  padding: 8px;
  margin-top:5%;
  background-color: rgb(241, 241, 241);
}

 .cartButton {
  margin: 0 20px 0 80%;
  background: transparent;
  color: #9ca4ab;
  border: transparent;
  cursor: pointer;
}

.cartButton-active {
  background-color: #fff;
  color: #00070a;
}

.productPage {
  display: flex;
  margin-left: 40%;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
}
.left-column {
  margin-top: 3%;
  margin-left: 15%;
  float: left;
}

.left-column img {
  width: 350px;
  height: 500px;
}

.right-column {
  float: left;
  margin-top: 3%;
  margin-right: 20%;
}

.right-column p {
  width: 400px;
  color: rgb(145, 143, 143);
}

.right-column h2 {
  font-weight: 300;
  color: #000;
}

.right-column h3 {
  color: #000;
  font-weight: bold;
}

.sizeButton {
  margin-top: 7%;
}

.sizeButton h3 {
  color: #9ca4ab;
}

.starSign {
  color: red;
}

.sizeButton button {
  height: 40px;
  width: 40px;
  margin: 0 1%;
  background: transparent;

  color: rgb(145, 143, 143);
  border: 1px solid rgb(145, 143, 143);
  cursor: pointer;
}

.addButton button {
  margin-top: 5%;
  height: 40px;
  width: 150px;
  background: transparent;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
}

.shoppingCart {
  /* background: dodgerblue; */
  width: 300px;
  height: auto;
  float: right;
  margin-right: 15%;
  border-style: solid;
  border-color: #000;
  background-color: #fff;
  position: relative;
}

.cartContent {
  display: none;
}

.cartImg {
  
  margin-left: 7%;
  width: 70px;
  float: left;

}
.cartImg img {
  margin-top: 1%;
  width: 65px;
  height: 120px;
}

.cartData {
  width: 180px;
  margin-left: 5%;
  float: left;
}



@media (max-width: 600px ) {
  .productPage {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .shoppingCart
 {
    margin-right: 5%;
    position: relative;
  }



}
